{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Alumno list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Carnet</th>
                <th>Nombrealumno</th>
                <th>Apellidoalumno</th>
                <th>Edadalumno</th>
                <th>Sexoalumno</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('alumno_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.carnet }}</td>
                <td>{{ entity.nombreAlumno }}</td>
                <td>{{ entity.apellidoAlumno }}</td>
                <td>{{ entity.edadAlumno }}</td>
                <td>{{ entity.sexoAlumno }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('alumno_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('alumno_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('alumno_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
